

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
}

a{
  text-decoration: none;
  color:white;
}
a:hover{
  cursor: pointer;
}

.dc-debug{
  border:1px solid green;
  background-color: lightgreen;
}

.dc-reset{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --grey:rgb(73,70,70,);
  --darkblue:rgb(13,28,46);
}

/*++++++++++ HEADER ++++++++++++++++++*/

header{
  height:60px;
  background-color: white;
  color:grey;
  top:0;
  left:0;
  z-index: 999;
}

.dc-nav-link{
  color:var(--grey);
}

.dc-form{
  width:60%;
}

/* +++++++++  MAIN / GENERAL +++++++++++ */

main{
  height:calc(100vh - 60px);
  padding-top:60px;

}

/* +++++ASIDE+++++++++ */

aside{
  height:calc(100vh - 60px);
  background-color: var(--darkblue);

}

.dc-aside-top, .dc-aside-bottom{
  font-size: 1.1rem;
  padding:20px 5px;
}


/* ++++++++++  MAIN CONTAINER +++++++++++ */

main .dc-main-container{
  background-color: pink;
  padding:0;
  height:calc(100vh - 60px);
  
}

main .dc-main-container h3, .dc-main-container h5{
  display: inline-block;
  color:white;
}

main .row.dc-reset:first-of-type{
  height: calc(100vh - 60px);

}

.dc-upper-stripe{
  background-color: var(--bs-blue);
}
.dc-badge{
  border-radius:8px;
  padding:5px 8px;
  font-weight: 400;
  margin:0 3px;
  color:white;
}

.dc-badge.dc-dark{
  background-color: rgba(0,0,0,0.3);
}

.dc-badge.dc-green{
  background-color: var(--bs-green);
}

.dc-badge.dc-yellow{
  background-color: var(--bs-yellow);
  color:black;
}

.dc-badge.dc-red{
  background-color: var(--bs-red);
}


/* ++++++ CONTENUTO MOBILE: SECTIONS */

.dc-section .dc-section-head{
  border:1px solid grey;
  background-color: #e9ecef;
}


.dc-section-head .plus i{
  font-size:220%;
  font-weight:300;
}

.dc-section-body{
  background-color: white;
  border-left:1px solid grey;
  border-bottom:1px solid grey;
  border-right:1px solid grey;
  font-weight: 300;
}

.dc-section-body table th[scope="row"]::before{
  content:'\f121'; 
	font-weight: 400;
  font-family: "Font Awesome 5 Free";
}

table{
  text-align: center;
}

table tr{
  line-height:3rem;
}

.dc-mini-icons{
  display: inline-block;
  position: relative;
  border-radius:5px;
  border:1px solid grey;
  padding:3px;
  width:40px;
  height:40px;
  color:var(--grey);
  margin:5px;
}

.dc-mini-icons i{
  position: absolute;
  font-size: 1.4rem;
  right: 8px;
  top: 8px;
}
